@model KitapTuru

<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Kitap Türü Güncelle</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label>Kitap Türü Adı:</label>
                            <input asp-for="Ad" class="form-control" placeholder="Kitap türü adı girin" />
                            <span asp-validation-for="Ad" class="text-danger"></span>
                            @*hata mesajını span ile ekledi.*@
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-primary">Kitap Türü Güncelle</button>
                            <a asp-controller="KitapTuru" asp-action="Index" class="btn btn-secondary">Kitap Türlerine Geri Dön</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@*
@section Scripts {
     <partial name="_ValidationScriptsPartial"/>
}
Bu kontrolleri front tarafında yapıp back e gitmeden uyarıyı veriyor.*@